/* Google Fonts 
font-family: 'JetBrains Mono', monospace;
*/

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,500;0,700;1,300;1,500;1,700&display=swap');

:root {
    --color-navy-1: #162B4C;
    --color-navy-2: #1C4E8E;
    --color-navy-3: #F2BD00;
    --color-navy-4: #DDDDDD;
}

body {
    font-family: 'JetBrains Mono', monospace;
    color: var(--color-navy-3);
    background-color: var(--color-navy-1);
}

.tech-icons img {
    width: 10%;
    max-width: 50px;
}

.avatar {
    max-width: 300px;
}

.card {
    background-color: var(--color-navy-2);
    color: var(--color-navy-3);
}

.navbar {
    background-color: var(--color-navy-2);
}

.navbar-brand {
    color: var(--color-navy-3);
}

.tech-icons {
    filter: drop-shadow(0 0 10px #FFE3B3);
}
.btn {
    background-color: var(--color-navy-3);
    color: var(--color-navy-1);
}

footer {
    background-color: var(--color-navy-2);
    color: var(--color-navy-4);
}

footer a {
    color: var(--color-navy-4);
}