/* google fonts 
font-family: 'Outfit', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    min-width: 350px;
    font-size: 15px;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #D5E1EF;
    padding: 2em;
}

h1 {
    font-size: 1.5em;
    color: #1C2D4A;
    padding: .4em;
}

p {
    color: #ABABB5;
    padding: 1.5em;
}

.card {
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    text-align: center;
    padding: .5em;
    width: 350px;
}


.card img {
    padding: .5em;
    border-radius: 30px;
    width: 100%;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1em;
    text-align: center;
    background-color: #D5E1EF;
}